
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e8f3;
    text-align: center;
    scroll-behavior: smooth;
    color: #333;
}


.navbar {
    background-color: #0b3d7e;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 12px;
}

.navbar a {
    text-decoration: none;
    color: #0b3d7e;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 50px; 
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
}

.navbar a:hover {
    background-color: hsl(215, 44%, 57%);
    transform: translateY(-3px); 
}


.hero {
    padding: 80px 20px;
    background: linear-gradient(rgba(41, 43, 160, 0.699), rgba(255,255,255,0.8)), url('peg/1.jpg'); 
    background-size: cover;
    background-position: center;
}

.hero h1 {
    color: #0b3d7e;
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.hero p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #555;
}

.btn-history {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 50px;
    background-color: #0b3d7e;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-history:hover {
    background-color: #3e6091;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


section {
    padding: 60px 20px;
}


.gallery-section {
    background-color: #aecef785;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    max-width: 1000px;
    margin: 30px auto;
}

.gallery-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s ease;
    border: 5px solid #fff;
}

.gallery-grid img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}


.footer-section {
    background-color: hsla(231, 32%, 20%, 0.829); 
    color: #fff;
    padding: 50px 20px;
}

.footer-section h3 {
    color: #cbd69b;
    font-size: 2em;
}

.footer-section p {
    max-width: 800px;
    margin: 20px auto;
    opacity: 0.9;
}

.links-container {
    margin-top: 30px;
}

.link-box {
    display: inline-block;
    background-color: #5a5a5a;
    color: #fff;
    padding: 12px 35px;
    margin: 8px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #777;
}

.link-box:hover {
    background-color: #cbd69b;
    color: #333;
}